#outer{border: 5px solid blue; width: 400px; height: 570px; padding-left: 40px;margin: 50px;}

.header_footer{
    text-align: center;
    color: darkseagreen;
    border-width: 5px;
    border-color: brown;
    border-style: solid;
    width: 300px;
    height: 100px;
    display: grid;
    padding: 10px;
    margin: 20px;
}

p{color: blue;}

.external{
    
    width: 300px;
    height: 200px;
    
}

