<div>
  <h2>Registration form</h2>
  <h2 style="text-align: right">
    <input type="button" value="login" (click)="showlogin()">
  </h2>
  <form [formGroup]="registerref" (ngSubmit)="register()">
    <table>
      <tr>
        <th>first name</th>
        <td><input type="text" formControlName="fname"/></td>
      </tr>
       <tr>
        <th>last name</th>
        <td><input type="text" formControlName="lname"/></td>

      </tr>
       <tr>
        <th>username</th>
        <td><input type="text" formControlName="username"/></td>

      </tr>
       <tr>
        <th>password</th>
        <td><input type="password" formControlName="password"/></td>
      </tr>

       <tr>
        <th><input type="submit" value="register"></th>
        <td><input type="reset" value="reset"/></td>
      </tr>

    </table>
  </form>
</div>
