# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../:\Users\yash1\OneDrive\Desktop\projects tcs\2057955_yash_mean_stack\Phase 2\logrecords\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
