<div>
  <h2>Login form</h2>

  <form  [formGroup]="loginref" (ngSubmit)="login()">
    <table>
       <tr>
        <th>username</th>
        <td><input type="text" formControlName="username"/></td>

      </tr>
      <tr>
        <th>password</th>
        <td><input type="password" formControlName="password"/></td>

      </tr>
      <tr>
        <td>
          <input type="submit" value="login">
        </td>
      </tr>


    </table>
   </form>
       <h2 style="text-align: right">

         <input type="button" value="sign up" (click)="displaysignup()" >
    </h2>

      </div>

